/*
*
*
*    Autor: Adrián Heras Reche
*
*    Fecha de creación: 29/10/2019
*
*    Última actualización: 01/11/2019
*
*
*
* ==========================================
* CSS personalizado
* ==========================================
*
*
*
*
*   Color primario:                     #00B49A
*   Color resaltado primario:           #00957f
*   Color secundario:                   #393946
*   Color resaltado secundario:         #515160
*   Color terciario:                    #F0F0F0
*   Color de fondo:                     #FAFAFA
*   Texto sobre oscuro:                 #FFFFFF
*   Texto sobre claro:                  #000000
*
*/


body {
    background-color: #FAFAFA;
}

/*                   Main                      */
div.mapa {
    width: 100%;
    height: 89vh;
}

iframe.mapa {
    width: 100%;
    height: 100%;
    border: 0;
}

/*                   Modal                     */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Header */
.modal-header {
    padding: 10px 16px;
    background-color: #393946;
    color: white;
}

.modal-header .titulo {
    margin: 0;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    width: 40%;
    text-align: right;
    border: none;
    animation-name: animatetop;
    animation-duration: 0.4s;
}

.modal-body {
    padding: 20px;
}

@media (max-width:992px) {
    .modal-content {
        width: 80%;
    }
}

.close {
    color: #FFFFFF;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #F0F0F0;
    text-decoration: none;
    cursor: pointer;
}


@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}



/*                   Login                      */
.loginImg {}

@media (min-width:576px) {
    .loginForm {
        padding-left: 0 !important;
        padding-right: 0;
    }
}

.loginForm.col-12 {
    padding: 0;
    text-align: left;
}

.loginLabel {
    margin: 8px 0 0 0;
}

.loginButton {
    background-color: #00B49A;
    border: none;
}

.loginButton:hover {
    background-color: #00957f;
    border: none;
}

.loginButton:focus,
.loginButton.focus {
    background-color: #00957f !important;
    border: none;
}

.loginButton:active {
    background-color: #00957f;
    border: none;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}



/*                 Sidebar                     */
.vertical-nav {
    min-width: 17rem;
    width: 17rem;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
}

div#sidebar {
    background-color: #393946;
}

.indexImg {
    margin: 15%;
    margin-bottom: 0;
}

.nav-item:hover {
    background-color: #515160;
}

.nav-item.current {
    background-color: #515160;
}

.indexSidebar {
    color: #FFFFFF;
    font-size: 20px;
}

.indexSidebar:hover {
    color: #FFFFFF;
}

.indexIcon {
    color: #FFFFFF;
    width: 1em;
    height: 1em;
    margin-right: 1em;
}



/*                 Searchbar                     */

.searchbar {
    background-color: #F0F0F0;
    text-align: right;
    padding: 1em 0.5em;
    width: 100%;
}

.searchbar-dark {
    background-color: #393946;
    text-align: right;
    padding: 1em 0.5em;
    width: 100%;
}


.searchIcon-dark {
    color: #FFFFFF;
    margin: 0 0.25em;
}

.searchIcon {
    color: #000000;
    margin: 0 0.25em;
    height: 2.5em;
    width: 2.5em;
}

p.empresa {
    color: #FFFFFF;
    font-size: 32px;
    margin-left: 1em;
}

p.empresaIndex {
    display: inline;
    position: absolute;
    top: 0;
    left: 0;
    color: #FFFFFF;
    font-size: 32px;
    margin-top: 0.25em;
    margin-left: 1em;
}

.buttonLogIn {
    margin: 0 0.5em 0 0.25em;
    color: #F0F0F0;
    background-color: #00B49A;
    border-width: 1px;
    border-style: solid;
    border-color: #00B49A;
}

.buttonLogIn:hover {
    color: #F0F0F0;
    background-color: #00957f;
    border-color: #00957f;
}

.buttonLogOut {
    margin: 0 0.5em 0 0.25em;
    color: #393946;
    background-color: #F0F0F0;
    border-width: 1px;
    border-style: solid;
    border-color: #393946;
}

.buttonLogOut:hover {
    color: #F0F0F0;
    background-color: #393946;
    border-color: #515160;
}

#content {
    background-color: #FAFAFA;
    color: #000000;
}

div.dropdown {
    display: inline;
}



/*                 Toast                                 */
div.toast {
    position: absolute;
    bottom: 0;
    right: 0;
}



/*                 Cuadrados centrales                     */
.page-content {
    width: calc(100% - 17rem);
    margin-left: 17rem;
    transition: all 0.4s;
}

.page-content.index {
    margin: 0;
    width: 100%;
}

.dashboard {
    padding: 0 1em;
}

.informacionCentral div.col-4 {
    padding: 2em;
    margin-top: 2em;
}

.cuadradoCentral {
    background-color: #00B49A;
    padding: 1em;
    color: #FFFFFF;
    height: 10em;
    text-align: right;
    border-radius: 5px;
}

.cuadradoCentral div {
    height: 2em;
}

.cuadradoCentral p {
    text-align: left;
}

span.numero {
    display: inline-block;
    margin-top: 1em;
    margin-right: 0.5em;
    font-size: 32px;
}

/*                 Tabla de últimas medidas                     */

.tabla {
    padding: 2em;
}

.tabla p {
    font-size: 32px;
}
